# IntelliJ IDEA
.idea/
**/.idea/
*.iml
*.iws
*.ipr
out/

# Maven
**/target/

# Java
*.class
hs_err_pid*
replay_pid*

# Logs
*.log
logs/

# Configurações locais e variáveis de ambiente
.env
.env.*
!.env.example
**/application-local.properties
**/application-local.yml
**/application-local.yaml

# Visual Studio Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db